// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

.ion-ios-bunicon,
.ion-md-bunicon,
.ion-ios-bunicon-outline,
.ion-md-bunicon-outline
{
  content: url(../assets/bunny.png);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
  background-color:#387ef5;
  border-radius: 35px;
}
.ion-ios-buncontacticon,
.ion-md-buncontacticon,
.ion-ios-buncontacticon-outline,
.ion-md-buncontacticon-outline
{
  content: url(../assets/bunny_hopps2.gif);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
  background-color:#387ef5;
  border-radius: 35px;
}

.ion-ios-bunicon-outline,
.ion-md-bunicon-outline,
.ion-ios-buncontacticon-outline,
.ion-md-buncontacticon-outline
{
  background-color:white;/*mobile web: ?or better transparent?*/
  /*outline: thin dotted;
  outline-offset: -1px;
  border-color: #51a7e8;
  outline: 2px solid #51a7e8;
  box-shadow: 0 0 8px 1px #51a7e8;*/
}

.contentheader
{
  width:100%;
  background-color: #e8f2e3 !important;
}
ion-select
{
  min-width: 55%;
  /*color:red;*/
  background-color: #f0fcea;
}
ion-select
{
  min-width: 99px;
}

@keyframes ngforani
{
  0%
  {
    padding-left: 100px;
    border-radius: 25px;
    transform: rotate3d(1, 2, -1, 192deg);
  }
  100%
  {
    padding-left: 0px;
    border-radius: 5px;
    transform: rotate3d(1,0,0,0deg);
  } 
}
.ngfor
{
  animation: ngforani 3s;
}

@keyframes ngselani
{
  0%
  {
    border-radius: 5px;
    transform: rotate(0deg);
    transform: scale(1.0);
  }
  50%
  {
    transform: rotate(36deg);
  }
  100%
  {
    border-radius: 55px;
    transform: rotate(0deg);
    transform: scale(1.5);
  }
}
.ngsel
{
  animation-duration: 3s; /* or: Xms */
  animation-iteration-count: 2;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
  animation-delay: .2s; /* or: Xms */
  animation-name: ngselani;

  position: relative;

  //animation: ngselani 3s;
}

ion-content
{
  background-image:url(../assets/b.jpg);background-repeat:no-repeat;
}
ion-title
{
  background-image:url(../assets/falling_leaves.gif);background-repeat:no-repeat;
}


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
