// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

.ion-ios-bunicon,
.ion-md-bunicon,
.ion-ios-bunicon-outline,
.ion-md-bunicon-outline
{
  content: url(../assets/bunny.png);
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
  background-color:#387ef5;
  border-radius: 32px;  //=circle!
}
.ion-ios-buncontacticon,
.ion-md-buncontacticon,
.ion-ios-buncontacticon-outline,
.ion-md-buncontacticon-outline
{
  content: url(../assets/bunny_hopps2.gif);
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
  background-color:#387ef5;
  border-radius: 32px;  //=circle!
}

/*
*-outline = NOT-selected version //doesn't work for android.!?
*/

.ion-ios-bunicon-outline,
.ion-md-bunicon-outline,
.ion-ios-buncontacticon-outline,
.ion-md-buncontacticon-outline
{
  background-color:white !important;/*mobile web: ?or better transparent?*/
  /*outline: thin dotted;
  outline-offset: -1px;
  border-color: #51a7e8;
  outline: 2px solid #51a7e8;
  box-shadow: 0 0 8px 1px #51a7e8;*/
}

.tab-button[aria-selected=false] ion-icon
{
  background-color:white !important;/*mobile web: ?or better transparent?*/
}

.toast-ios .toast-wrapper,
.toast-md .toast-wrapper
{
  background: green !important;
}

ion-item
{
  background-color: transparent !important;
  /*background-color: #f0fcea !important;*/
  text-align:center !important;
  align-content: center;
}

.contentheader
{
  width:100%;
  background-color: #e8f2e3 !important;
}
ion-select
{
  min-width: 55%;
  /*color:red;*/
  background-color: #f0fcea;
}
ion-select
{
  min-width: 99px;
}

@keyframes ngforani
{
  0%
  {
    padding-left: 100px;
    border-radius: 25px;
    transform: rotate3d(1, 2, -1, 192deg);
  }
  100%
  {
    padding-left: 0px;
    border-radius: 5px;
    transform: rotate3d(1,0,0,0deg);
  } 
}
.ngfor
{
  animation: ngforani 3s;
}

@keyframes ngselani
{
  0%
  {
    border-radius: 5px;
    transform: rotate(0deg);
    transform: scale(1.0);
  }
  50%
  {
    transform: rotate(36deg);
  }
  100%
  {
    border-radius: 55px;
    transform: rotate(0deg);
    transform: scale(1.5);
  }
}
.ngsel
{
  animation-duration: 3s; /* or: Xms */
  animation-iteration-count: 2;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
  animation-delay: .2s; /* or: Xms */
  animation-name: ngselani;

  position: relative;

  //animation: ngselani 3s;
}

ion-content
{
  background-image:url(../assets/b.jpg);background-repeat:no-repeat;
}
ion-title
{
  background-image:url(../assets/falling_leaves.gif);background-repeat:no-repeat;
}

//############################## BG ANI ''''''''''''''''''''''''''''''''''''''''
.bg-bgani
{
	position:absolute;
	top:	0;
	left:	0;
	width:	100%;
	height:	100%;
	z-index:	0;
	li
    {
		position:	absolute;
		list-style:	none;
		display:	block;
		width:	40px;
		height:	40px;
		background-color:	black;
		opacity:	0.2;
		bottom:	-160px;
		-webkit-animation:	bgitemani	25s	infinite;
		animation: bgitemani	25s	infinite;
		-webkit-transition-timing-function:	cubic-bezier(0.92,0,0.98,1);
		transition-timing-function:	cubic-bezier(0.92,0,0.98,1);
    
		&:nth-child(1)
		{
			left:	10%;
		}
		&:nth-child(2)
		{
			left:	20%;
			width:	80px;
			height:	80px;
			animation-delay:	2s;
			animation-duration:	17s;
      background-color:	red;
			border-radius: 80px;
		}
		&:nth-child(3)
		{
			left:	25%;
			animation-delay:	4s;
      background-color:	blue;
		}
		&:nth-child(4)
		{
			left:	40%;
			width:	60px;
			height:	60px;
			animation-duration:	22s;
			background-color:	black;
			border-radius: 60px;
		}
		&:nth-child(5)
		{
			left:	70%;
      background-color:	white;
		}
		&:nth-child(6)
		{
			left:	80%;
			width:	120px;
			height:	120px;
			animation-delay:	3s;
			background-color:	orange;
			border-radius: 120px;
		}
		&:nth-child(7)
		{
			left:	32%;
			width:	160px;
			height:	160px;
			animation-delay:	7s;
      background-color:	brown;
			border-radius: 160px;
		}
		&:nth-child(8)
		{
			left:	55%;
			width:	20px;
			height:	20px;
			animation-delay:	15s;
			animation-duration:	40s;
      background-color:aqua;
			border-radius: 20px;
		}
		&:nth-child(9)
		{
			left:	25%;
			width:	10px;
			height:	10px;
			animation-delay:	2s;
			animation-duration:	40s;
			background-color:	black;
			border-radius: 10px;
		}
		&:nth-child(10)
		{
			left:	90%;
			width:	160px;
			height:	160px;
			animation-delay:	11s;
      background-color: blueviolet;
			border-radius: 160px;
		}
	}
}
@-webkit-keyframes bgitemani
{
	0%
	{
		transform:	translateY(0) rotate3d(1, 2, -1, 192deg);
	}
	100%
	{
		transform:	translateY(-700px)	rotate(600deg) rotate3d(1,0,0,0deg);
	}
}
@keyframes bgitemani
{
	0%
	{
		transform:	translateY(0)  rotate3d(1, 2, -1, 192deg);
	}
	100%
	{
		transform:	translateY(-700px)	rotate(600deg) rotate3d(1,0,0,0deg);
	}
}
//############################## BG ANI ''''''''''''''''''''''''''''''''''''''''


//background when overlay (eg LoadingController) is presented
$backdrop-color:#cddcf4;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
