<ion-header>
  <ion-navbar>
    <ion-title>

      <table>
       <tr>
        <td>
          <button ion-button menuToggle> <img src="assets/bunny_hopps2.gif" /> </button>
        </td>
        <td> &nbsp; Bunnnies @ Ionic</td>
      </tr>
      </table>

    </ion-title>

    <ion-buttons start>
      <button	ion-button	menuToggle>
        <ion-icon	name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item class="contentheader">
        <ion-label fixed>Seethearts:</ion-label>
        <ion-select (ionChange)="changeCategory()" [(ngModel)]="category" name="category">
          <ion-option value="">[pick one]</ion-option>
            <!-- TODO: build options based on categories -->
            <ion-option value="autumn">Autumn</ion-option>
            <ion-option value="home">Home</ion-option>
            <ion-option value="spring">Spring</ion-option>
            <ion-option value="summer">Summer</ion-option>
            <ion-option value="winter">Winter</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let picName of getPicsOfSelectedCat()" class="ngfor" #ionItem>
        <img src="assets/bunpics/{{picName}}.png" (click)="onBunClick($event, ionItem)" />
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngIf="items">
        There are {{ items.length }} News found for {{category}}
      </ion-item>
      <ion-item *ngFor="let item of items">
        <ion-thumbnail *ngIf="item.data.thumbnail" item-left>
          <img src="{{item.data.thumbnail}}">
        </ion-thumbnail>
        <h2>{{item.data.title}}</h2>
        <p>
          <ion-icon name="thumbs-up">{{item.data.score}}</ion-icon>&nbsp;&nbsp;
          <ion-icon name="chatboxes">{{item.data.num_comments}}</ion-icon>
        </p>
        <button ion-button clear item-right (click)="viewItem(item.data)">View</button>
      </ion-item>
    </ion-list>
</ion-content>
